# Services Pihole which does not support DNS-over-TLS
# Make secure dns requests over the Internet

[Unit]
Description=unboundtls
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/podman-compose -f /home/sean/unbound/docker-compose.yml up -d
ExecStop=/usr/bin/podman-compose -f /home/sean/unbound/docker-compose.yml down

[Install]
WantedBy=default.target
